body{
    background-color: #000000;
    margin-top: 5%;
}

.movie-cover{
    width: 100%;
}
.caption p{
    display:inline-block;
}

.modal-details{
    position: absolute;
    display: block;
    background-color: #010101;
    z-index: 2;
}

.modal-container{
    display: inline-block;
    float: right;
}

.modal-content p{
    width: 100%;
}

.modal-header{
    padding: 15px 15px 0;
    border-bottom: none;
}

.modal-body{
    padding: 0 15px 15px;
}

.modal-content p.various-title,
.modal-content p.various {
    width: auto;
}

.various{
    margin-left: 5px;
}
.various:after{
    content: '; ';
}


.loading {
    position:  absolute;
    width: 95%;
    height:  100%;
    background:  #fff;
    top: 0;
}

.loading img {
    transform: translate(-50% , -50%);
    position:  relative;
    left:  50%;
    top: 50%;
}